html, 
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 30px;
  color: $default;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sup-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}

.title {
  font-size: 36px;
  @extend %dmsans-700;
  color: $title;
  text-align: center;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.cart-icon {
  width: 22px;
  height: 20px;
}

.heart-icon {
  width: 24px;
  height: 20px;
}

.calendar-icon svg {
  width: 13px;
  height: 13px;
}

.author-icon svg {
  width: 12px;
  height: 13px;
}

.arrow-icon svg {
  width: 22px;
  height: 9px;
}

.breadcrumbs {

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(34, 41, 51, 0.6);
    position: relative;
  }

  &__item + .breadcrumbs__item::before {
    content: '/';
    position: absolute;
    left: -3px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  color: $accent;
  line-height: 30px;
  &__list {
    display: flex;
  }
  &__link, .pagination__next {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #a3bbc8;
    text-align: center;
    line-height: 50px;
    margin-right: 15px;
    transition: all .2s;
    &:hover {
      background-color: #a3bbc8;
      color: #fff;
    }
  }

  &__link--active {
    background-color: #a3bbc8;
    color: #fff;
  }

  & .pagination__next {
    display: inline-block;
    width: 72px;
    padding: 0 11px;
  }
  
}

.sub-class{
  justify-content: flex-start;
  padding-top: 20px;
}