$accent: #243f4d;
$default: #436372;
$title: #191919;

%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%rubik-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%poppins-600 {
  font-family: 'Poppins-SemiBold', sans-serif;
  font-weight: 600;
}

%poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%btn {
  background-color: #a3bbc8;
  color: #fff;
  @extend %rubik-500;
  font-size: 15px;
  line-height: 12px;
  padding: 23px 100px 19px 25px;
}

%btn-default {
  @extend %rubik-500;
  font-size: 15px;
  line-height: 12px;
  color: $default;
  padding: 20px 85px 22px 20px;
  border: 1px solid hsl(150, 3%, 71%);
  border-radius: 5px;
  display: inline-block;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

