@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';









.info {
  padding: 110px 0 45px;

  &__title {
    font-size: 24px;
    line-height: 40px;
    @extend %rubik-500;
    color: $accent;
    margin-bottom: 15px;
  }

  & .info__list {
    list-style-type: decimal-leading-zero;
    margin-bottom: 70px;
    padding-left: 30px;
  }
  
  &__item {
    margin-bottom: 25px;
    color: $accent;
    padding-left: 10px;
  }

  &__text {
    color: $accent;
    margin-bottom: 65px;
  }

}

.about {
  padding: 120px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
  }

  &__bg {
    margin-right: 45px;
  }

  &__sub-numb {
    display: inline-block;
    @extend %rubik-700;
    font-size: 140px;
    color: #a3bbc8;
    margin-right: 25px;
    margin-bottom: 30px;
    line-height: 1;
  }

  &__sub-text {
    display: inline-block;
    max-width: 100px;
    transform: translateY(-5%);
    color: $accent;
  }

  &__title {
    line-height: 32px;
    margin-bottom: 45px;
    text-align: left;
  }

  &__text {
    color: $accent;
    margin-bottom: 60px;
  }

  &__items {
    display: flex;
    align-items: center;
  }
  
  &__item {
    @extend %dmsans-700;
    position: relative;
    padding: 12px 30px 13px 60px;
    border-right: 1px solid #e6eaf0;
    margin-right: 30px;
  }

  &__item::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/about-icon1.svg);
    width: 36px;
    height: 38px;
    left: 0;
    top: 21px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item--second::before {
    background-image: url(../images/icons/about-icon2.svg);
    width: 43px;
    height: 39px;
  }

  &__item--third {
    border-right: none;
  }

  &__item--third::before {
    background-image: url(../images/icons/about-icon3.svg);
    width: 42px;
    height: 40px;
  }

  &__item-title {
    font-size: 36px;
    line-height: 38px;
    color: $accent;
  }

  &__item-text {
    line-height: 17px;
    color: #4c4c4c;
  }
}

.about-bottom {
  background-color: #fcd7b6;
  padding: 85px 0 80px;

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    color: $accent;
    @extend %dmsans-700;
  }

  &__item-title {
    line-height: 32px;
    padding: 20px 0;
  }

  &__item-text {
    font-size: 18px;
    line-height: 32px;
  }
}

.sup-box {
  width: 500px;
  border-bottom: 2px solid #e6eaf0;
  margin-bottom: 30px;
}

.team {
  padding-bottom: 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 305px;
    color: $accent;
  }

  &__title {
    text-align: left;
    margin-bottom: 30px;
  }

  &__text {
    line-height: 30px;
    margin-bottom: 35px;
  }

  &__btn {
    font-size: 15px;
    line-height: 55px;
    @extend %poppins-600;
    color: #fff;
    background-color: #a3bbc8;
    padding: 18px 65px 18px 20px;
    border-radius: 5px;
    position: relative;
  }

  &__btn::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 11px;
    background-image: url(../images/team-arrow.svg);
    right: 25px;
    top: 50%;
    transform: translateY(-50%)
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2,370px);
    grid-template-rows: repeat(2,320px);
    grid-gap: 100px 30px;
    margin-bottom: 70px;
  }

  &__box {
    position: relative;
  }
  
  &__item {
    padding: 25px 0 25px 25px;
    width: 325px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    position: absolute;
    bottom: -60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user-name {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  &__user-text {
    line-height: 30px;
    color: #565872;
  }

  &__social {
    display: flex;
    margin-right: 20px;
  }

  &__social a + a {
    margin-left: 8px;
  }
}

.shop {
  padding: 120px 0;

  &__inner {
    display: flex;
    width: 100%;
  }

  &__filters {
    margin-right: 30px;
  }
}

.filter{
  &__item {
    margin-bottom: 55px;
    & label {
      cursor: pointer;
    }
  }
  &__title{
    font-size: 18px;
    color: $accent;
    padding-right: 55px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 20px;
    @extend %dmsans-700;
  }
  &__title::after{
    content: '';
    position: absolute;
    width: 38px;
    height: 3px;
    background-color: #a3bbc8;
    right: 0;
    top: 14px;
  }
}

.filter-category {
  
  &__text {
    padding: 7px 0 7px 15px;  
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    width: 270px;
  }

  &__text::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    background-image: url(../images/icons/list-arrow.svg);
    right: 22px;
    top: 18px;
  }

  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__text {
      background-color: #edf1f4;
    }
  }
}

.filter-price{
  &__label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: $accent;
    padding-top: 20px;
  }
}

.irs--flat {
  height: 15px;
}

.irs--flat .irs-line {
  top: 6px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 0;
}

.irs--flat .irs-handle {
  top: 0;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child{
  display: none;
}

.irs--flat .irs-bar {
  top: 6px;
  height: 4px;
  background-color: #a3bbc8;
}

.irs .irs-from, .irs .irs-to {
  display: none;
}

.irs .irs-from::before,
.irs .irs-to::before {
  display: none;
}

.irs-single {
  display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}

.filter-brand {
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__box {
    background-color: #edf1f4;
    }
    &:checked + .filter-brand__box span {
    color: $accent;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
  }

  &__text {
    padding: 7px 0 7px 15px;  
  }

  &__numb {
    margin-right: 20px;
    color: #b3b3b3;
  }
}

.filter-recent {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__box {
    width: 65px;
    border: 3px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    margin-right: 15px;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 15px;
    line-height: 27px;
    color: #333333;
    margin-top: 5px;
  }
}

.star {
  padding: 0;
}

.shop-content {
  width: 100%;
  margin-bottom: 70px;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    height: 380px;
    width: 270px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37,37, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    justify-content: flex-end;
    margin-bottom: 40px;
    &.shop-content__item--list{
      height: auto;
      box-shadow: none;
      min-width: 100%;
      flex-direction: row;
      margin-bottom: 40px;
      justify-content: flex-start;
      .shop-content__img-box{
        height: 495px;
        width: 365px;
        border: 3px solid #f2f2f2;
        display: flex;
        align-content: center;
        justify-content: center;
        margin-right: 60px;
        .products-top__item-img {
          display: none;
        }
        .products-top__item-img--list {
          display: block;
          object-fit: none;
        }

      }

      .shop-content__box {
        text-align: left;
      }

      .products-top__item-title {
        font-size: 40px;
        color: #333333;
        margin-bottom: 20px;
        @extend %rubik-400;
      }

      .products-top__item-price {
        font-size: 30px;
        line-height: 46px;
        color: #333333;
        margin: 30px 0 25px;
      }

      .shop-content__box-text {
        line-height: 30px;
        margin-bottom: 30px;
        max-width: 400px;

      }

      .shop-content__box-btn {
        font-size: 15px;
        line-height: 30px;
        color: #fff;
        border: none;
        border-radius: 5px;
        background-color: #a3bbc8;
        padding: 10px 50px;
        cursor: pointer;
        text-transform: uppercase;
      }

      .list-mode {
        display: block;
      }
      .products-top__item--hover {
        display: none;
      }
      &:nth-child(1n+5){
        display: none;
      }
    }
  }

  .products-top__item-img--list {
    display: none;
  }

  &__item:hover .products-top__item-link--hover {
    transform: translateY(0);
  }

  &__img-box {
    margin: auto 0;
  }

  &__box {
    text-align: center;
  }
  
}

.list-mode {
  display: none;
}

.product {
  padding: 120px 0;
}

.product-item {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__slide {
    width: 550px;
    margin-right: 70px;
  }
  &__content{
    width: 550px;
    padding-top: 25px;
  }
  &__title{
    font-size: 40px;
    color: #333333;
    margin-bottom: 20px;
  }
  &__price{
    font-size: 30px;
    line-height: 46px;
    color: #333333;
    margin: 25px 0 20px;
  }
  &__text{
    max-width: 540px;
    color: $accent;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &__form{
    margin-bottom: 50px;
  }
  &__btn{
    background-color: #a3bbc8;
    padding: 11px 50px;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.product-slide {
  display: flex;
  .slick-vertical .slick-slide{
    height: 160px;
    margin-bottom: 25px;
  }
  &__thumb{
    width: 134px;
    margin-right: 25px;
  }

  &__thumb-item{
    width: 134px;
    height: 156px;
    cursor: pointer;
    border: 2px solid #f2f2f2;
    img{
      object-fit: cover;
      height: 156px;
      width: 134px;
      padding: 5px 0;
    }
  }

  &__big{
    width: 384px;
  }

  &__big-item{
    width: 384px;
    height: 526px;
    border: 2px solid #f2f2f2;
    img{
      object-fit: cover;
      margin: auto;
      margin-top: 50%;
      transform: translateY(-33%);
    }
  }
}



.jq-number__field {
  width: 148px;
  border: 1px solid #a3bbc8;
}

.jq-number__field input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #333333;
  @extend %rubik-400;
  font-size: 15px;
  text-align: center;
}

.jq-number {
  padding: 0;
  position: relative;
}

.jq-number__spin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 50px;
  height: 52px;
  cursor: pointer;
  border: 1px solid #a3bbc8;
}

.jq-number__spin.minus{
  right: auto;
  left: 0;
}


.jq-number__spin::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #333;
  width: 6px;
  height: 1px;
  transform: translate(-50%);
}

.jq-number__spin.plus::after{
  width: 7px;
}

.jq-number__spin.plus::before{
  content: '';
  position: absolute;
  height: 8px;
  width: 1px;
  background-color: #000;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
}

.jq-number__spin.minus:after{
  left: 50%;
  top: 50%;
  transform: translate(-50%)
}

.product-info{
  color: $accent;
  line-height: 30px;
}

.product-tabs{
  padding-top: 70px;
  &__top{
    margin-bottom: 30px;
    margin-left: 20%;
  }
  &__top-item{
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    width: 240px;
    border-radius: 5px;
    color: $accent;
    background-color: #edf1f4;
    text-align: center;
    padding: 5px 0;
    & + .product-tabs__top-item {
      margin-left: 13px;
    }
  }
  &__top-item--active{
    background-color: #a3bbc8;
    color: #fff;
  }
  &__content-item{
    display: none;
    line-height: 30px;
    color: $accent;
    &.product-tabs__content-item--active{
      display: block;
    }
  }
}

.related{
  padding-bottom: 100px;
  &__slider-box{
    width: 370px;
    height: 400px;
  }
  &__title{
    margin-bottom: 60px;
    text-align: left;
  }
  &__slider{
    position: relative;
  }
  &__slider-box{
    margin-left: 10px;
    & div{
      box-shadow: 0px 6px 10px 3px rgba(37,   37, 37, 0.05);
    }
  }
}

.slick-arrow {
  background-image: url(../images/icons/product-page-arrow.svg);
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #edf1f4;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: absolute;
  top: -100px;
  right: 10px;
  cursor: pointer;
  transition: all .3s;
  &:hover{
    border-color: #a3bbc8;
  }
}

.slick-prev{
  right: 80px;
  transform: rotate(180deg);
}

.blog{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: 830px;
    margin-right: 70px;
    & .pagination{
      justify-content: flex-start;
    }
  }
  &__content-box{
    position: relative;
    margin-bottom: 40px;
  }
  &__content-title{
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
  }
  &__content-text{
    color: $accent;
    line-height: 30px;
    margin-bottom: 35px;
  }
  &__content-btn{
    @extend %btn-default;
    position: relative;
    margin-bottom: 50px;
    border-radius: 0;
    color: #a3bbc8;
    border-color: #a3bbc8;
  }
  &__content-arrow{
    position: absolute;
    right: 20px;
    top: 22px;

  }
  &__filter{
    width: 270px;
  }
}

.filter-search{
  margin-bottom: 50px;
  border: 2px solid #eef2f5;
  border-radius: 5px;
  border-left: 1px solid #dae4e9;
  border-right: none;
  &__form{
    display: flex;
    justify-content: space-between;
  }
  &__input{
    border: none;
    padding: 0 15px;
  }
  &__btn{
    border: none;
    border-radius: 5px;
    background-color: #edf1f4;
    max-width: 48px;
    height: 43px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    width: 100%;
  }
}

.filter-posts{
  &__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__img{
    max-width: none;
  }
  &__content{
    margin-left: 15px;
  }
  &__content-title{
    font-size: 14px;
    line-height: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  &__content-date{
    font-size: 12px;
    line-height: 30px;
    color: #9a9a9a;
  }
}

.blog-one{
  padding: 120px 0;
  &__text{
    h2{
      color: #333333;
      font-size: 36px;
      margin: 20px 0;
    }
    h6{
      font-size: 16px;
      line-height: 30px;
      color: $accent;
      margin: 20px 0;
    }
    p{
      margin-bottom: 40px;
    }
    blockquote{
      background-color: #edf1f4;
      border-left: 8px solid #a3bbc8;
      color: $accent;
      line-height: 30px;
      padding: 20px 30px;
      margin-bottom: 45px;
      span{
        display: block;
        position: relative;
        padding-left: 45px;
        &::before{
          content: '';
          position: absolute;
          width: 20px;
          height: 4px;
          background-color: #a3bbc8;
          left: 0;
          top: 12px;
        }
      }
    }
    h5{
      font-size: 18px;
      line-height: 30px;
      color: $accent;
      padding: 20px 0;
    }
  }
  &__left-img{
    float: left;
    margin-right: 30px;
  }
  &__right-img{
    float: right;
    margin-left: 30px;
  }
  &__author{
    padding: 25px 0;
    border: 2px solid #ebebeb;
    border-left: none;
    border-right: none;
  }
  &__author-info{
    display: flex;
    align-items: center;
  }
  &__author-img{
    margin-right: 25px;
  }
  &__author-title{
    color: #333333;
    font-size: 18px;
    @extend %rubik-500;
  }
  &__author-text{
    color: #666666;
  }
  &__box{
    margin-left: auto;
    margin-right: 20px;
  }
  &__tags{
    display: flex;
    align-items: center;
  }
  &__tags-title{
    font-size: 16px;
    line-height: 26px;
    color: #333;
    margin-right: 30px;
  }
  &__tags-list{
    display: flex;
    li + li{
      margin-left: 5px;
    }
  }
  &__tags-item:nth-last-child(1){
    span{
      display: none;
    }
  }
  &__tags-link{
    color: #999;   
    line-height: 22px;
  }
  &__filter{
    width: 270px;
  }
  &__share{
    display: flex;
    align-items: center;
  }
  &__share-title{
    font-size: 16px;
    line-height: 26px;
    color: #333;
    margin-right: 20px;
  }
  &__share-list{
    display: flex;
    align-items: center;
    li + li{
      margin-left: 24px;
    }
  }
}
.comment{
  padding-top: 60px;
  &__item{
    margin-bottom: 30px;
    position: relative;
    &::after{
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 130px);
    background-color: #e0e0e0;
    bottom: 0;
    right: 0;
    }
    &:nth-last-child(1){
      margin-bottom: 60px;
      &::after{
        display: none;
        height: 0;
      }
    }
  }
  &__title{
    font-size: 24px;
    line-height: 36px;
    @extend %rubik-700;
    margin-bottom: 50px;
  }
  &__inner{
    display: flex;
  }
  &__avatar{
    margin-right: 30px;
    width: 100px;
    height: 100px;
  }
  &__content{
    padding-bottom: 25px;
  }
  &__content-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__content-name{
    @extend %rubik-700;
    line-height: 1;
  }
  &__content-date{
    color: #9e9e9e;
    font-size: 14px;
    line-height: 1;
  }
  &__content-text{
    color: #565872;
    margin-bottom: 15px;
  }
  &__content-reply{
    color: #516278;
    font-size: 14px;
    position: relative;
    padding-right: 25px;
    &::after{
      content: '';
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url(../images/btn-arrow2.svg);
      right: 0;
      top: 5px;
    }
  }
}
.comment-reply{
  padding-left: 130px;
}

.comment-form{
  &__title{
    margin-bottom: 40px;
    font-size: 24px;
    @extend %rubik-700;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__input{
    width: 400px;
    height: 50px;
    display: inline-block;
    padding: 0 20px;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    line-height: 36px;
    color: #333333;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    &::placeholder{
      color: #999999;
    }
    & + .comment-form__input{
      margin-left: 30px;
    }
    &:hover{
      border-color: #a3bbc8;
    }
  }
  &__input--name{
    background-image: url(../images/icons/comment-user.svg);
  }
  &__input--mail{
    background-image: url(../images/icons/mail.svg);
  }
  &__textarea{
    border: 1px solid #e5e5e5;
    border-radius: 0;
    padding: 15px 20px;
    line-height: 36px;
    color: #333333;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    margin-bottom: 40px;
    background-image: url(../images/icons/comment.svg);
    background-repeat: no-repeat;
    background-position: 97% 20%;
    &::placeholder{
      color: #999999;
    }
    &:hover{
      border-color: #a3bbc8;
    }
  }
  &__btn{
    border: none;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background-color: #a3bbc8;
    padding: 15px 35px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.contact{
  padding: 120px 0;
  &__sub-title{
    line-height: 20px;
    @extend %poppins-700;
    color: #a3bbc8;
    text-align: center;
    display: block;
  }
  &__title{
    text-align: center;
    font-size: 35px;
    line-height: 57px;
    @extend %dmsans-700;
    margin-bottom: 70px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfbfb;
    border: 2px solid transparent;
    text-align: center;
    justify-content: center;
    width: 370px;
    height: 380px;
    transition: all .3s;
    &:hover{
      border-color: #a3bbc8;
      & .contact__item-img{
        background-color: #a3bbc8;
        transition: all .3s;
      }
      & .contact__item-icon{
        transition: all .3s;
        fill: #fff;
      }
    }
  }
  &__item-img{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 26px;
    color: #222222;
    margin: 60px 0 20px;
  }
  &__item-text{
    color: #565872;
    max-width: 270px;
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__form{
    max-width: 620px;
  }
  &__form-box{
    margin-bottom: 25px;
  }
  &__form-input{
    border: none;
    background-color: #fafafa;
  }
  &__form-input::placeholder{
    color: rgba(86, 88, 114, 0.8);
    text-transform: uppercase;
  }
  &__form-input + .contact__form-input{
    margin-left: 20px;
  }
  &__form-textarea{
    border: none;
    background-color: #fafafa;
    height: 175px;
    margin-bottom: 30px;
  }
  &__form-textarea::placeholder{
    color: rgba(86, 88, 114, 0.8);
    text-transform: uppercase; 
  }
  &__form-btn{
    border-radius: 5px;
  }
}

#map{
  width: 500px;
  height: 335px;
}
@import 'media';
