@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

a {
  color: inherit;
}

.header {
  padding: 50px 15px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item + .menu__list-item {
    padding-left: 30px;
  }

  &__list-link {
    font-size: 15px;
    line-height: 12px;
  }
}

.user-nav {
  &__link {
    position: relative;
  }

  display: flex;
  &__wrapper {
    display: flex;
    background-image: url(../images/header-bg.png);
    width: 178px;
    height: 51px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    margin: 0 20px;
  }

  &__num {
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    top: -8px;
    transform: translateX(75%);
  }
}

.search {
  padding: 18px;
  background-color: #edf1f4;
  border-radius: 50%;
}

.heart {
  height: 17px;
  padding: 0 30px 0 40px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    right: 0;
    top: -7px;
  }
}

.cart {
  height: 17px;
  padding: 0 42px 0 27px;
}

.dots {
  padding: 18px;
  background-color: #edf1f4;
  border-radius: 50%;
  background-color: #a3bbc8;
}



.footer {
  padding: 80px 0 40px;
}

.footer-top {
  padding-bottom: 75px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
  

  &__item a {
    display: block;
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }

  &__item li + li {
    padding-top: 5px;
  }

  & .logo {
    margin-bottom: 30px;
  }

  a.footer-top__address {
    max-width: 210px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  &__phone {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    color: #1f2044;
    padding: 16px 0 20px;
    text-transform: uppercase;
  }
  
  &__text {
    max-width: 250px;
    margin-bottom: 35px;
  }

  &__form {
    background-color: #fef7f0;
  }

  &__form-input {
    max-width: 170px;
    width: 100%;
    border: none;
    background-color: #fef7f0;
    padding: 4px 15px 5px 15px;
  }

  &__form-input::placeholder {
    font-size: 12px;
    line-height: auto;
    @extend %dmsans-400;
    padding-left: 10px;
  }

  &__form-btn {
    @extend %btn;
    border: none;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    padding: 9px 20px 8px 15px;
    cursor: pointer;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  
  &__copy {
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }

  &__nav-link + .footer-bottom__nav-link {
    padding-left: 12px;
    margin-left: 12px;
    border-left: 1px solid #7b7b7b;
  }
}

.top-slider {
  &__item {
    background-image: url(../images/slider/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    padding: 215px 0 275px;
  }

  &__title {
    max-width: 420px;
    @extend %rubik-500;
    color: #243f4d;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 35px;
  }

  &__text {
    max-width: 370px;
    margin-bottom: 40px;
  }

  &__link {
    @extend %btn;
    position: relative;
  }

  &__link::after {
    content: '';
    position: absolute;
    background-image: url(../images/btn-arrow.png);
    height: 10px;
    width: 22px;
    right: 20px;
    top: 28px;
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fef7f0;

  }

  &__bottom-item {
    width: 100%;
    padding: 35px 0;
    position: relative;
  }
  
  &__bottom-item + .top-slider__bottom-item::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #e8e4df;
    top: 0;
    left: 0;
  }
  
  &__bottom-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
    max-width: 230px;
    margin: 0 auto;
    position: relative;
    transform: translateX(15%);
  }
  
  &__bottom-title::after {
    content: '';
    position: absolute;
    width: 55px;
    height: 55px;
    top: 28%;
    background-repeat: no-repeat;
    left: -79px;
  }
  
    &__bottom-title--first::after {
      background-image: url(../images/slider/slider-icon1.png);
    }
    &__bottom-title--second::after {
      background-image: url(../images/slider/slider-icon2.png);
    }
    &__bottom-title--third::after {
      background-image: url(../images/slider/slider-icon3.png);
    }
  
  &__bottom-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
    max-width: 230px;
    margin: 0 auto;
    transform: translateX(15%);
  }

  .slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 45px;
  padding: 0;
  transform: translateX(-50%);

  & li + li {
    margin-left: 10px;
  }
  
  & button {
    background-color: #fde3cc;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .slick-active button {
    background-color: #fff;
  }
}


}









@import 'media';
