@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

a {
  color: inherit;
}

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  ul.menu__list {
    display: flex;
    margin-left: 150px;
  }

  &__list-item + .menu__list-item {
    padding-left: 30px;
  }

  &__list-link {
    font-size: 15px;
    line-height: 12px;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__wrapper {
    display: flex;
    background-image: url(../images/header-bg.png);
    width: 178px;
    height: 51px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    margin: 0 20px;
  }

  &__num {
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    top: -8px;
    transform: translateX(75%);
  }
}

.search {
  padding: 18px;
  background-color: #edf1f4;
  border-radius: 50%;
}

.heart {
  height: 17px;
  padding: 0 30px 0 40px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    right: 0;
    top: -7px;
  }
}

.cart {
  height: 17px;
  padding: 0 42px 0 27px;
}

.dots {
  cursor: pointer;
  border: none;
  padding: 18px;
  border-radius: 50%;
  background-color: #a3bbc8;
}

.footer {
  padding-bottom: 40px;
  padding-top: 80px;
}

.footer-top {
  padding-bottom: 75px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
  

  &__item a {
    display: block;
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }

  &__item li + li {
    padding-top: 5px;
  }

  & .logo {
    margin-bottom: 30px;
  }

  a.footer-top__address {
    max-width: 210px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  &__phone {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    color: #1f2044;
    padding: 16px 0 20px;
    text-transform: uppercase;
  }
  
  &__text {
    max-width: 250px;
    margin-bottom: 35px;
  }

  &__form {
    background-color: #fef7f0;
  }

  &__form-input {
    max-width: 170px;
    width: 100%;
    border: none;
    background-color: #fef7f0;
    padding: 4px 15px 5px 15px;
  }

  &__form-input::placeholder {
    font-size: 12px;
    line-height: auto;
    @extend %dmsans-400;
    padding-left: 10px;
    color: #234969;
  }

  &__form-btn {
    @extend %btn;
    border: none;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    padding: 9px 20px 8px 15px;
    cursor: pointer;
  }
}

.top {
  padding: 30px 0;
  background-color: #edf1f4;

  &__title {
    text-align: center;
    @extend %rubik-300;
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 10px;
  }
}

.modal {
  padding-top: 120px;
  max-width: 470px;
  margin: 0 auto 120px;

  &__label {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  &__input {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    border: 2px solid #f6f6f6;
    margin-top: 4px;
    height: 60px;
    padding: 15px;
  }

  &__login-btn {
    display: block;
    width: 100%;
    background-color: #a3bbc8;
    border: none;
    height: 60px;
    @extend %rubik-500;
    font-size: 18px;
    color: #fffefe;
    margin: 35px 0 30px;
    cursor: pointer;
  }

  &__sup-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #f6f6f6;
    margin-bottom: 30px;
  }

  &__register-link {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  &__create {
    display: block;
    width: 100%;
    height: 60px;
    border: 2px solid #a3bbc8;
    @extend %rubik-500;
    font-size: 18px;
    color: $accent;
    text-align: center; 
    line-height: 55px;
  }

}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  
  &__copy {
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }

  &__nav-link + .footer-bottom__nav-link {
    padding-left: 12px;
    margin-left: 12px;
    border-left: 1px solid #7b7b7b;
  }
}

.top-slider {
  &__item {
    background-image: url(../images/slider/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    padding: 215px 0 275px;
  }

  &__title {
    max-width: 420px;
    @extend %rubik-500;
    color: #243f4d;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 35px;
  }

  &__text {
    max-width: 370px;
    margin-bottom: 40px;
  }

  &__link {
    @extend %btn;
    position: relative;
  }

  &__link::after {
    content: '';
    position: absolute;
    background-image: url(../images/btn-arrow.png);
    height: 10px;
    width: 22px;
    right: 20px;
    top: 28px;
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fef7f0;

  }

  &__bottom-item {
    width: 100%;
    padding: 35px 0;
    position: relative;
  }
  
  &__bottom-item + .top-slider__bottom-item::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #e8e4df;
    top: 0;
    left: 0;
  }
  
  &__bottom-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
    max-width: 230px;
    margin: 0 auto;
    position: relative;
    transform: translateX(15%);
  }
  
  &__bottom-title::after {
    content: '';
    position: absolute;
    width: 55px;
    height: 55px;
    top: 28%;
    background-repeat: no-repeat;
    left: -79px;
  }
  
    &__bottom-title--first::after {
      background-image: url(../images/slider/slider-icon1.png);
    }
    &__bottom-title--second::after {
      background-image: url(../images/slider/slider-icon2.png);
    }
    &__bottom-title--third::after {
      background-image: url(../images/slider/slider-icon3.png);
    }
  
  &__bottom-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
    max-width: 230px;
    margin: 0 auto;
    transform: translateX(15%);
  }

  .slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 45px;
  padding: 0;
  transform: translateX(-50%);

  & li + li {
    margin-left: 10px;
  }
  
  & button {
    background-color: #fde3cc;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .slick-active button {
    background-color: #fff;
  }
}


}

.products {
  padding: 70px 0 100px;
}

.products-top {
  
  &__title {
    font-size: 36px;
    @extend %dmsans-700;
    color: $title;
    text-align: center;
  }

  &__filter-btn {
    text-align: center;
    margin: 35px 0 80px;
  }

  &__btn {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
  }

  &__btn + .products-top__btn {
    margin-left: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4,270px);
    grid-template-rows: repeat(2,380px);
    grid-gap: 40px 30px;
  }

  &__item {
    height: 380px;
    width: 270px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  &__item:hover .products-top__item-link--hover {
    transform: translateY(0);
  }

  &__item-img {
    margin: auto;
    object-fit: cover;
  }

  &__item-title {
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 40px;
    color: $accent;
  }

  &__item-price {
    margin-bottom: 35px;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 20px;
    color: #a3bbc8;
  }

  &__item-link--hover {
  transform: translateY(500%);
  width: 45px;
  height: 45px;
  background-color: #fff; 
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 25%;
  transition: all .3s;
  text-align: center;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

&__item-link--hover:nth-child(2) {
  margin-left: 50px;
}

&__item-link--hover:nth-child(3) {
  margin-left: 100px;
}

&__item-link--hover:hover {
  background-color: #a3bbc8;
}

&__item-link--hover:hover svg {
  background-color: #a3bbc8;
  fill: #fff;
  transition: all .5s;
}

&__item-link--hover svg {
  fill: #a3bbc8;
}


}

.products-bottom {
  padding-top: 85px;

  &__inner {
  padding-top: 100px;
}
  
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
  &__item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #feefe2;
    width: 100%;
  }

  &__item + .products-bottom__item {
    margin-left: 30px;
  }

  &__item-img{
    margin-right: 30px;
    padding-bottom: 85px;
    margin-top: -74px;
  }

  &__item-content{
    padding: 71px 0 100px;
    background-color: #feefe2;
    max-width: 340px;
  }

  &__item-title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: $accent;
    margin-bottom: 30px;
  }

  &__item-text {
    font-size: 16px;
    line-height: 30px;
    color: $accent;
    margin-bottom: 35px;
  }

  &__link {
    @extend %btn-default;
    position: relative;
  }

  &__link::after {
    content: '';
    position: absolute;
    background-image: url(../images/btn-arrow2.svg);
    height: 10px;
    width: 22px;
    right: 20px;
    top: 22px;
  }
}

.design {
  padding-bottom: 80px;
}

.design-top {

  &__title {
    font-size: 36px;
    @extend %dmsans-700;
    color: $title;
    text-align: center;
  }

  &__filter-btn {
    text-align: center;
    margin: 35px 0 80px;
  }

  &__btn {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
  }

  &__btn + .design-top__btn {
    margin-left: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3,370px);
    grid-template-rows: repeat(2,245px);
    grid-gap: 35px 30px;
  }

  &__item {
    background-color: #f8f8f8;
    background-image: url(../images/design/1.png);
    background-repeat: no-repeat;
    background-position: 85% 55%;
  }

  &__item2 {
    background-image: url(../images/design/2.png);
  }

  &__item3 {
    background-image: url(../images/design/3.png);
  }

  &__item4{
    background-image: url(../images/design/4.png);
  }

  &__item5 {
    background-image: url(../images/design/5.png);
  }

  &__item6 {
    background-image: url(../images/design/6.png);
  }

  &__item-title{
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 23px;
    color: $title;
    padding: 40px 0 0 35px;
    margin-bottom: 10px;
    max-width: 210px;
  }

  &__item-text {
    @extend %dmsans-700;
    font-size: 16px;
    color: #a3bbc8;
    padding-left: 35px;
  }

}

.design-popup {
  background-image: url(../images/video-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 120px;

  &__play-img {
    padding: 187px 0;
    margin: 0 auto;
  }
}

.mixitup-control-active {
  color: $title;
}

.news {

  &__title {
    text-align: left;
  }
  
  &__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    position: relative;
  }
  
  &__view {
    position: absolute;
    top: -60px;
    right: 0;
  }
  
  &__view-link {
    @extend %dmsans-700;
    font-size: 16px;
    color: #262626;
    position: relative;
    padding-right: 25px;
  }
  
  &__view-link::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 11px;
    background-image: url(../images/view-arrow.svg);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  &__item-img {
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    position: relative;
    height: 250px;
    object-fit: cover
  }

  &__item-link {
    @extend %poppins-700;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    padding: 6px 30px;
  }

  &__inner {
    background-color: #fef7f0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item{
    max-width: 370px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
  }

  &__item-sup {
    text-transform: uppercase;
    width: 103px;
    height: 30px;
    background-image: url(../images/news/link-bg.png);
    background-repeat: no-repeat;
    position: absolute;
    text-align: center;
    top: -15px;
    left: 28px;
  }

  &__item-text {
    padding: 35px 30px 15px 30px;
    font-size: 18px;
    @extend %dmsans-500;
    color: #262626;
    min-height: 140px;
  }

  &__info {
    max-width: 315px;
    margin: 0 auto;
    border-top: 1px solid #e0e0e0;
    padding: 15px 0;
    font-size: 12px;
    line-height: 30px;
    color: #222933;
  }

  &__item-date {
    margin-right: 30px;
    padding-left: 30px;
    position: relative;
    text-transform: uppercase;
  }

  &__item-date::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../images/icons/calendar-icon.svg);
    background-repeat: no-repeat;
    left: 0;
  }

  &__item-author {
    position: relative;
    padding-left: 30px;
    text-transform: uppercase;
  }

  &__item-author::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../images/icons/user-icon.svg);
    background-repeat: no-repeat;
    left: 0;
  }
}

.partners {
  background-color: #fef7f0;
  padding: 90px 0;

  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.info {
  padding: 110px 0 45px;

  &__title {
    font-size: 24px;
    line-height: 40px;
    @extend %rubik-500;
    color: $accent;
    margin-bottom: 15px;
  }

  & .info__list {
    list-style-type: decimal-leading-zero;
    margin-bottom: 70px;
    padding-left: 30px;
  }
  
  &__item {
    margin-bottom: 25px;
    color: $accent;
    padding-left: 10px;
  }

  &__text {
    color: $accent;
    margin-bottom: 65px;
  }

}

.about {
  padding: 120px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
  }

  &__bg {
    margin-right: 45px;
  }

  &__sub-numb {
    display: inline-block;
    @extend %rubik-700;
    font-size: 140px;
    color: #a3bbc8;
    margin-right: 25px;
    margin-bottom: 30px;
    line-height: 1;
  }

  &__sub-text {
    display: inline-block;
    max-width: 100px;
    transform: translateY(-5%);
    color: $accent;
  }

  &__title {
    line-height: 32px;
    margin-bottom: 45px;
    text-align: left;
  }

  &__text {
    color: $accent;
    margin-bottom: 60px;
  }

  &__items {
    display: flex;
    align-items: center;
  }
  
  &__item {
    @extend %dmsans-700;
    position: relative;
    padding: 12px 30px 13px 60px;
    border-right: 1px solid #e6eaf0;
    margin-right: 30px;
  }

  &__item::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/about-icon1.svg);
    width: 36px;
    height: 38px;
    left: 0;
    top: 21px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item--second::before {
    background-image: url(../images/icons/about-icon2.svg);
    width: 43px;
    height: 39px;
  }

  &__item--third {
    border-right: none;
  }

  &__item--third::before {
    background-image: url(../images/icons/about-icon3.svg);
    width: 42px;
    height: 40px;
  }

  &__item-title {
    font-size: 36px;
    line-height: 38px;
    color: $accent;
  }

  &__item-text {
    line-height: 17px;
    color: #4c4c4c;
  }
}

.about-bottom {
  background-color: #fcd7b6;
  padding: 85px 0 80px;

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    color: $accent;
    @extend %dmsans-700;
  }

  &__item-title {
    line-height: 32px;
    padding: 20px 0;
  }

  &__item-text {
    font-size: 18px;
    line-height: 32px;
  }
}

.sup-box {
  width: 500px;
  border-bottom: 2px solid #e6eaf0;
  margin-bottom: 30px;
}

.team {
  padding-bottom: 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 305px;
    color: $accent;
  }

  &__title {
    text-align: left;
    margin-bottom: 30px;
  }

  &__text {
    line-height: 30px;
    margin-bottom: 35px;
  }

  &__btn {
    font-size: 15px;
    line-height: 55px;
    @extend %poppins-600;
    color: #fff;
    background-color: #a3bbc8;
    padding: 18px 65px 18px 20px;
    border-radius: 5px;
    position: relative;
  }

  &__btn::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 11px;
    background-image: url(../images/team-arrow.svg);
    right: 25px;
    top: 50%;
    transform: translateY(-50%)
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2,370px);
    grid-template-rows: repeat(2,320px);
    grid-gap: 100px 30px;
    margin-bottom: 70px;
  }

  &__box {
    position: relative;
  }
  
  &__item {
    padding: 25px 0 25px 25px;
    width: 325px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    position: absolute;
    bottom: -60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user-name {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  &__user-text {
    line-height: 30px;
    color: #565872;
  }

  &__social {
    display: flex;
    margin-right: 20px;
  }

  &__social a + a {
    margin-left: 8px;
  }
}

.shop {
  padding: 120px 0;

  &__inner {
    display: flex;
    width: 100%;
  }

  &__filters {
    margin-right: 30px;
  }
}

.filter{
  &__item {
    margin-bottom: 55px;
    & label {
      cursor: pointer;
    }
  }
  &__title{
    font-size: 18px;
    color: $accent;
    padding-right: 55px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 20px;
    @extend %dmsans-700;
  }
  &__title::after{
    content: '';
    position: absolute;
    width: 38px;
    height: 3px;
    background-color: #a3bbc8;
    right: 0;
    top: 14px;
  }
}

.filter-category {
  
  &__text {
    padding: 7px 0 7px 15px;  
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    width: 270px;
  }

  &__text::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    background-image: url(../images/icons/list-arrow.svg);
    right: 22px;
    top: 18px;
  }

  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__text {
      background-color: #edf1f4;
    }
  }
}

.filter-price{
  &__label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: $accent;
    padding-top: 20px;
  }
}

.irs--flat {
  height: 15px;
}

.irs--flat .irs-line {
  top: 6px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 0;
}

.irs--flat .irs-handle {
  top: 0;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child{
  display: none;
}

.irs--flat .irs-bar {
  top: 6px;
  height: 4px;
  background-color: #a3bbc8;
}

.irs .irs-from, .irs .irs-to {
  display: none;
}

.irs .irs-from::before,
.irs .irs-to::before {
  display: none;
}

.irs-single {
  display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}

.filter-brand {
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__box {
    background-color: #edf1f4;
    }
    &:checked + .filter-brand__box span {
    color: $accent;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
  }

  &__text {
    padding: 7px 0 7px 15px;  
  }

  &__numb {
    margin-right: 20px;
    color: #b3b3b3;
  }
}

.filter-recent {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__box {
    width: 65px;
    border: 3px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    margin-right: 15px;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 15px;
    line-height: 27px;
    color: #333333;
    margin-top: 5px;
  }
}

.star {
  padding: 0;
}

.shop-content {
  width: 100%;
  margin-bottom: 70px;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    height: 380px;
    width: 270px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37,37, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    justify-content: flex-end;
    margin-bottom: 40px;
    &.shop-content__item--list{
      height: auto;
      box-shadow: none;
      min-width: 100%;
      flex-direction: row;
      margin-bottom: 40px;
      justify-content: flex-start;
      .shop-content__img-box{
        height: 495px;
        width: 365px;
        border: 3px solid #f2f2f2;
        display: flex;
        align-content: center;
        justify-content: center;
        margin-right: 60px;
        .products-top__item-img {
          display: none;
        }
        .products-top__item-img--list {
          display: block;
          object-fit: none;
        }

      }

      .shop-content__box {
        text-align: left;
      }

      .products-top__item-title {
        font-size: 40px;
        color: #333333;
        margin-bottom: 20px;
        @extend %rubik-400;
      }

      .products-top__item-price {
        font-size: 30px;
        line-height: 46px;
        color: #333333;
        margin: 30px 0 25px;
      }

      .shop-content__box-text {
        line-height: 30px;
        margin-bottom: 30px;
        max-width: 400px;

      }

      .shop-content__box-btn {
        font-size: 15px;
        line-height: 30px;
        color: #fff;
        border: none;
        border-radius: 5px;
        background-color: #a3bbc8;
        padding: 10px 50px;
        cursor: pointer;
        text-transform: uppercase;
      }

      .list-mode {
        display: block;
      }
      .products-top__item--hover {
        display: none;
      }
      &:nth-child(1n+5){
        display: none;
      }
    }
  }

  .products-top__item-img--list {
    display: none;
  }

  &__item:hover .products-top__item-link--hover {
    transform: translateY(0);
  }

  &__img-box {
    margin: auto 0;
  }

  &__box {
    text-align: center;
  }
  
}

.list-mode {
  display: none;
}

.product {
  padding: 120px 0;
}

.product-item {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__slide {
    width: 550px;
    margin-right: 70px;
  }
  &__content{
    width: 550px;
    padding-top: 25px;
  }
  &__title{
    font-size: 40px;
    color: #333333;
    margin-bottom: 20px;
  }
  &__price{
    font-size: 30px;
    line-height: 46px;
    color: #333333;
    margin: 25px 0 20px;
  }
  &__text{
    max-width: 540px;
    color: $accent;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &__form{
    margin-bottom: 50px;
  }
  &__btn{
    background-color: #a3bbc8;
    padding: 11px 50px;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.product-slide {
  display: flex;
  .slick-vertical .slick-slide{
    height: 160px;
    margin-bottom: 25px;
  }
  &__thumb{
    width: 134px;
    margin-right: 25px;
  }

  &__thumb-item{
    width: 134px;
    height: 156px;
    cursor: pointer;
    border: 2px solid #f2f2f2;
    img{
      object-fit: cover;
      height: 156px;
      width: 134px;
      padding: 5px 0;
    }
  }

  &__big{
    width: 384px;
  }

  &__big-item{
    width: 384px;
    height: 526px;
    border: 2px solid #f2f2f2;
    img{
      object-fit: cover;
      margin: auto;
      margin-top: 50%;
      transform: translateY(-33%);
    }
  }
}



.jq-number__field {
  width: 148px;
  border: 1px solid #a3bbc8;
}

.jq-number__field input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #333333;
  @extend %rubik-400;
  font-size: 15px;
  text-align: center;
}

.jq-number {
  padding: 0;
  position: relative;
}

.jq-number__spin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 50px;
  height: 52px;
  cursor: pointer;
  border: 1px solid #a3bbc8;
}

.jq-number__spin.minus{
  right: auto;
  left: 0;
}


.jq-number__spin::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #333;
  width: 6px;
  height: 1px;
  transform: translate(-50%);
}

.jq-number__spin.plus::after{
  width: 7px;
}

.jq-number__spin.plus::before{
  content: '';
  position: absolute;
  height: 8px;
  width: 1px;
  background-color: #000;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
}

.jq-number__spin.minus:after{
  left: 50%;
  top: 50%;
  transform: translate(-50%)
}

.product-info{
  color: $accent;
  line-height: 30px;
}

.product-tabs{
  padding-top: 70px;
  &__top{
    margin-bottom: 30px;
    margin-left: 20%;
  }
  &__top-item{
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    width: 240px;
    border-radius: 5px;
    color: $accent;
    background-color: #edf1f4;
    text-align: center;
    padding: 5px 0;
    & + .product-tabs__top-item {
      margin-left: 13px;
    }
  }
  &__top-item--active{
    background-color: #a3bbc8;
    color: #fff;
  }
  &__content-item{
    display: none;
    line-height: 30px;
    color: $accent;
    &.product-tabs__content-item--active{
      display: block;
    }
  }
}

.related{
  padding-bottom: 100px;
  &__slider-box{
    width: 370px;
    height: 400px;
  }
  &__title{
    margin-bottom: 60px;
    text-align: left;
  }
  &__slider{
    position: relative;
  }
  &__slider-box{
    margin-left: 10px;
    & div{
      box-shadow: 0px 6px 10px 3px rgba(37,   37, 37, 0.05);
    }
  }
}

.slick-arrow {
  background-image: url(../images/icons/product-page-arrow.svg);
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #edf1f4;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: absolute;
  top: -100px;
  right: 10px;
  cursor: pointer;
  transition: all .3s;
  &:hover{
    border-color: #a3bbc8;
  }
}

.slick-prev{
  right: 80px;
  transform: rotate(180deg);
}

.blog{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: 830px;
    margin-right: 70px;
    & .pagination{
      justify-content: flex-start;
    }
  }
  &__content-box{
    position: relative;
    margin-bottom: 40px;
  }
  &__content-links{
    position: absolute;
    font-size: 12px;
    line-height: 30px;
    padding: 20px 25px 20px 20px;
    background-color: #a3bbc8;
    color: #fff;
    bottom: 0;
    left: 0;
    a{
      & span{
        margin-right: 5px;
      }
    }
  }
  &__content-date{
    margin-right: 20px;
  }
  &__content-title{
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
  }
  &__content-text{
    color: $accent;
    line-height: 30px;
    margin-bottom: 35px;
  }
  &__content-btn{
    @extend %btn-default;
    position: relative;
    margin-bottom: 50px;
    border-radius: 0;
    color: #a3bbc8;
    border-color: #a3bbc8;
  }
  &__content-arrow{
    position: absolute;
    right: 20px;
    top: 22px;

  }
  &__filter{
    width: 270px;
  }
}

.filter-search{
  margin-bottom: 50px;
  border: 2px solid #eef2f5;
  border-radius: 5px;
  border-left: 1px solid #dae4e9;
  border-right: none;
  &__form{
    display: flex;
    justify-content: space-between;
  }
  &__input{
    border: none;
    padding: 0 15px;
  }
  &__btn{
    border: none;
    border-radius: 5px;
    background-color: #edf1f4;
    max-width: 48px;
    height: 43px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    width: 100%;
  }
}

.filter-posts{
  &__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__img{
    max-width: none;
  }
  &__content{
    margin-left: 15px;
  }
  &__content-title{
    font-size: 14px;
    line-height: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  &__content-date{
    font-size: 12px;
    line-height: 30px;
    color: #9a9a9a;
  }
}
@import 'media';

