<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/about-us.min.css">
</head>

<body>

    {% include 'app/module/_header/_header.html' %}

  <main class="main">

    {% include 'app/module/_top/_top.html' %}

    <section class="about">
      <div class="container">
        <div class="about__inner">
          <img class="about__bg" src="images/about-bg.jpg" alt="">
          <div class="about__content">
            <span class="about__sub-numb">12</span>
            <p class="about__sub-text">
              Years
              Experience
              Working
            </p>
            <h2 class="about__title title">Mission of our creative house</h2>
            <p class="about__text">
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in
              reprehenderit in voluptate velit esse cillum
            </p>
            <div class="sup-box"></div>
            <div class="about__items">
              <div class="about__item">
                <h4 class="about__item-title">520+</h4>
                <p class="about__item-text">Projects</p>
              </div>
              <div class="about__item about__item--second">
                <h4 class="about__item-title">$4M</h4>
                <p class="about__item-text">Revenue</p>
              </div>
              <div class="about__item about__item--third">
                <h4 class="about__item-title">250</h4>
                <p class="about__item-text">Awards</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="about-bottom">
        <div class="container">
          <div class="about-bottom__items">
            <div class="about-bottom__item">
              <img class="about-bottom__item-img" src="images/icons/about-bottom1.png" alt="icon">
              <h4 class="about-bottom__item-title title">99%</h4>
              <p class="about-bottom__item-text">Satisﬁed Clients Rate</p>
            </div>
            <div class="about-bottom__item">
              <img class="about-bottom__item-img" src="images/icons/about-bottom2.png" alt="icon">
              <h4 class="about-bottom__item-title title">5020+</h4>
              <p class="about-bottom__item-text">Products Delivered</p>
            </div>
            <div class="about-bottom__item">
              <img class="about-bottom__item-img" src="images/icons/about-bottom3.png" alt="icon">
              <h4 class="about-bottom__item-title title">23hr</h4>
              <p class="about-bottom__item-text">Daily Working Time</p>
            </div>
            <div class="about-bottom__item">
              <img class="about-bottom__item-img" src="images/icons/about-bottom4.png" alt="icon">
              <h4 class="about-bottom__item-title title">140+</h4>
              <p class="about-bottom__item-text">Brands in Store</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="team">
      <div class="container">
        <div class="team__inner">
          <div class="team__content">
            <h2 class="team__title title">Our Team</h2>
            <p class="team__text">
              Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor
              sit amet,
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a class="team__btn" href="#">Join With US</a>
          </div>
          <div class="team__items">
            <div class="team__box">
              <img class="team__item-img" src="images/team1.jpg" alt="">
              <div class="team__item">
                <div class="team__user-info">
                  <h5 class="team__user-name">Eliza Elliot</h5>
                  <p class="team__user-text">Commodo tempor</p>
                </div>
                <div class="team__social">
                  <a class="team__social-link" href="#">
                    <img class="team__social-img" src="images/instagram.png" alt="">
                  </a>
                  <a class="team__social-link" href="#">
                    <img class="team__social-img" src="images/google.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="team__box">
              <img class="team__item-img" src="images/team2.jpg" alt="">
              <div class="team__item">
                <div class="team__user-info">
                  <h5 class="team__user-name">Roscoe A.</h5>
                  <p class="team__user-text">Commodo tempor</p>
                </div>
                <div class="team__social">
                  <a class="team__social-link" href="#">
                    <img class="team__social-img" src="images/instagram.png" alt="">
                  </a>
                  <a class="team__social-link" href="#">
                    <img class="team__social-img" src="images/google.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="team__box">
              <img class="team__item-img" src="images/team3.jpg" alt="">
              <div class="team__item">
                <div class="team__user-info">
                  <h5 class="team__user-name">Ruby M.</h5>
                  <p class="team__user-text">Commodo tempor</p>
                </div>
                <div class="team__social">
                  <a class="team__social-link" href="#">
                    <img class="team__social-img" src="images/instagram.png" alt="">
                  </a>
                  <a class="team__social-link" href="#">
                    <img class="team__social-img" src="images/google.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="team__box">
              <img class="team__item-img" src="images/team4.jpg" alt="">
              <div class="team__item">
                <div class="team__user-info">
                  <h5 class="team__user-name">Marie F. Bloss</h5>
                  <p class="team__user-text">Commodo tempor</p>
                </div>
                <div class="team__social">
                  <a class="team__social-link" href="#">
                    <img class="team__social-img" src="images/instagram.png" alt="">
                  </a>
                  <a class="team__social-link" href="#">
                    <img class="team__social-img" src="images/google.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



  {% include 'app/module/_news/_news.html' %}
  {% include 'app/module/_partners/_partners.html' %}
  {% include 'app/module/_footer/_footer.html' %}


  <script src="js/main.min.js"></script>
</body>

</html>