.footer {
  padding-bottom: 40px;
  padding-top: 80px;
}

.footer-top {
  padding-bottom: 75px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
  flex-wrap: wrap;
  &__item{
    margin-right: 10px;
  }
  &__item a {
    display: block;
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }

  &__item li + li {
    padding-top: 5px;
  }

  & .logo {
    margin-bottom: 30px;
  }

  a.footer-top__address {
    max-width: 210px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  &__phone {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    color: #1f2044;
    padding: 16px 0 20px;
    text-transform: uppercase;
    pointer-events: none;
  }
  
  &__text {
    max-width: 250px;
    margin-bottom: 35px;
  }

  &__form {
    // background-color: #fef7f0;
  }

  &__form-input {
    max-width: 170px;
    width: 100%;
    border: none;
    background-color: #fef7f0;
    padding: 4px 15px 5px 15px;
  }

  &__form-input::placeholder {
    font-size: 12px;
    line-height: auto;
    @extend %dmsans-400;
    padding-left: 10px;
    color: #234969;
  }

  &__form-btn {
    @extend %btn;
    border: none;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    padding: 9px 20px 8px 15px;
    cursor: pointer;
    margin-left: -4px;
  }
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  
  &__copy {
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }

  &__nav-link + .footer-bottom__nav-link {
    padding-left: 12px;
    margin-left: 12px;
    border-left: 1px solid #7b7b7b;
  }
}

@media (max-width: 1050px){
  .footer-top{
    
  }
}
@media (max-width: 700px){
  .footer-bottom{
    flex-wrap: wrap;
    justify-content: center;
    &__copy {
      width: 100%;
      text-align: center;
    }
  }
}
@media (max-width: 600px){
  .footer-top{
    &__item:nth-child(1){
      width: 100%;
    }
    &__address{
      max-width: 100% !important;
    }
    &__text{
      max-width: 100%;
    }
    &__item{
      width: 100%;
    }
    &__title{
      pointer-events: auto;
    }
    &__list{
      display: none;
    }
  }
}
@media (max-width: 360px){
  .footer-top{
    &__form-input{
      max-width: 100%;
    }
    &__form-btn{
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
